*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5, ul, p, blockquote{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    width: 1440px;
    margin: 0 auto;

    background-color: #F4F4F4;
    padding-bottom: 200px;
}

ul {
    list-style-type: none;
}