                /* HEADER */
.header {
  display: flex;
  justify-content: flex-end;
  padding: 29px 120px 49px;
}

.header__list {
  display: flex;
  gap: 36px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1rem;
  list-style-type: none;
}

.header__list-link {
  color: currentColor;
  text-decoration: none;
}

                /* состояния */
.header__list-link:hover {
  opacity: 75%;
}


                /* HERO */
.hero {
  display: flex;
  justify-content: space-between;
}

.hero__content {
  display: flex;
  flex-direction: column;
  gap: 44px;
  max-width: 410px;
  margin: 60px 30px 0 120px;
}

.section__title {
  padding-top: 3px;
  font-weight: 700;
  font-size: 55px;
  line-height: 60px;
  letter-spacing: -0.5px;
}

.section__text {
  /* margin-bottom: 10px; */
  opacity: 70%;
  line-height: 28px;
}

.more-detailed-button {
  display: flex;
  justify-content: center;
  width: 180px;
  border-radius: 4px;
  padding: 16px 10px;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  line-height: 1rem;
  letter-spacing: 1px;
  text-decoration: none;
  background-color: #24B47E;
  margin-top: 10px;
}

.product-link_hero {
  margin-top: 124px;
  color: currentColor;
  text-decoration: none;
}

                /* image  */
.hero__image-box {
  width: 610px;
  height: 836px;
}

.image-box-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

                /* состояния */
.more-detailed-button:hover {
  background-color: #319E75;
}


                /* BLOCKQUOTE-SECTION */
.blockquote-section {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 80px;
  padding: 120px 120px;
}

.blockquote-section__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.blockquote-section__quote {
  font-weight: 600;
  font-size: 34px;
  line-height: 44px;
  letter-spacing: -0.5px;
}

.blockquote-section__quote-author {
  margin-bottom: 7px;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  text-transform: capitalize;
}

.blockquote-section__author-profession {
  margin-bottom: 4px;
  opacity: 70%;
  font-size: 16px;
  line-height: 28px;
}

                /* image  */
.blackquote-section__image-box {
  min-width: 650px;
  height: 460px;
}


                /* COVERINGS */
.coverings {
  padding-left: 120px;
  min-height: 922px;
}

                /* ul */
.slides-list {
  position: relative;
}

.slides-list input {
  display: none;
}

input:checked + .slide-container .slide {
  transform: scale(1);
}

input:checked + .slide-container .nav label { 
  display: block; 
}

                /* li */
.slide {
  position: absolute;
  top: 0;
  display: block;
  transform: scale(0);
}

.slide__content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  max-width: 450px;
}

.slider_text {
  margin-top: -6px;
}

.slide__image-box {
  display: flex;
  gap: 40px;
  margin-top: 83px;
  position: relative;
}

.slide__image {
  width: 650px;
  height: 400px;
}

                /* nav */
.nav label {
  position: absolute;
  bottom: -105px;
  z-index: 9;
  display: none;
  cursor: pointer;
}

.prev {
  left: -5px;
}

.next {
  left: 70px;
}

.nav-btn_prev {
  border: none;
  border-radius: 50%;
  padding: 17px 23px;
  background-color: #EBEBEB;
}

.nav-btn_next {
  transform: rotate(180deg);
}


/* BIKES */
.bikes {
  padding: 0 120px;
  
}

.bikes__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-list {
  display: flex;
  gap: 30px;
  width: 100%;
  margin-top: 115px;
}

.product-link {
  display: block;
  color: currentColor;
  text-decoration: none;
}

.product-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 380px;
  height: 380px;
  border-radius: 20px;
  background-color: white;
  margin-bottom: 22px;
}
.product-image {
  display: block;
  width: 340px;
  height: 340px;
  mix-blend-mode: hard-light;
}
.product-name {
  font-weight: 600;
  line-height: 22px;
  margin-left: 8px;
}

.category-box {
  display: flex;
  gap: 40px;
  margin-top: 23px;
}

.category-box input{
  display: none;
}

.category {
  line-height: 28px;
  opacity: 70%;
  font-weight: 400;
}

.category:hover {
  font-weight: 600;
  opacity: 100%;
  cursor: pointer;
}