                /* common styles */
.section__title {
  padding-top: 3px;
  font-weight: 700;
  font-size: 55px;
  line-height: 60px;
  letter-spacing: -0.5px;
}

.section__text {
  opacity: 70%;
  color: var(--var-body-text-color);
  line-height: 28px;
}

.image-box-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}




                /* HEADER */
.header {
  display: flex;
  justify-content: flex-end;
  padding: 29px 120px 49px;
}

.header__list {
  display: flex;
  gap: 36px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1rem;
  list-style-type: none;
}

.header__list-link {
  color: var(--var-body-text-color);
  text-decoration: none;
}

                /* состояния */
.header__list-link:hover {
  opacity: 75%;
}




                /* HERO */
.hero {
  display: flex;
  justify-content: space-between;
}

                /* content */
.hero__content {
  display: flex;
  flex-direction: column;
  gap: 44px;
  max-width: 410px;
  margin: 60px 30px 0 120px;
}

                /* button */
.more-detailed-button {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  width: 180px;
  margin-top: 10px;
  border-radius: 4px;
  padding: 16px 10px;
  overflow: hidden;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  line-height: 1rem;
  letter-spacing: 1px;
  text-decoration: none;
  background-color: #24B47E;
}

                /* link */
.product-link_hero {
  display: flex;
  margin-top: 124px;
  color: var(--var-body-font-color);
  text-decoration: none;
}

.product-link_hero::after {
  content: "";
  display: block;
  flex-direction: column;
  width: 132px;
  margin-top: 10px;
  margin-left: 30px;
  border-top: 2px solid #D7D4D4;
}

                /* image-box */
.hero__image-box {
  width: 610px;
  height: 836px;
  padding-bottom: 80px;
  background-image: url(../images/hero-cover.jpg);
}

.product-card_hero {
  position: sticky;
  top: 440px;
  width: 440px;
  height: 300px;
  margin-left: -200px;
  border-radius: 20px;
  box-shadow: -20px 60px 220px 0 rgba(0, 0, 0, 0.2);
  background-color: #f4f4f4;
}

.product-card_hero-link {
  width: 440px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

                /* состояния */
.more-detailed-button:hover {
  z-index: 2;
  color: #fff;
}

.more-detailed-button:hover::before {
  color: #fff;
  transform: scaleX(1);
}

.more-detailed-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50px;
  z-index: -1;
  width: 150%;
  height: 100%;
  color: #fff;
  background-color: #319E75;
  transition: transform 1s;
  transform: scaleX(0);
  transform-origin: left;
}




                /* BLOCKQUOTE-SECTION */
.blockquote-section {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 80px;
  padding: 120px 120px;
}

                  /* content */
.blockquote-section__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.blockquote-section__quote {
  font-weight: 600;
  font-size: 34px;
  line-height: 44px;
  letter-spacing: -0.5px;
}

.blockquote-section__quote-author {
  margin-bottom: 7px;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  text-transform: capitalize;
}

.blockquote-section__author-profession {
  margin-bottom: 4px;
  opacity: 70%;
  font-size: 16px;
  line-height: 28px;
}

                /* image-box */
.blackquote-section__image-box {
  min-width: 650px;
  height: 460px;
}




                /* COVERINGS */
.coverings {
  min-height: 922px;
  padding-left: 120px;
}

                /* ul */
.slides-list {
  position: relative;
}

.slides-list .list-input {
  visibility: hidden;
}

                /* slide */
.slide {
  position: absolute;
  top: 0;
  display: block;
  transform: scale(0);
}

.slide__content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  max-width: 450px;
}

.slider_text {
  margin-top: -6px;
}

              /* image */
.slide__image-box {
  position: relative;
  display: flex;
  gap: 40px;
  margin-top: 83px;
}

.slide__image {
  width: 650px;
  height: 400px;
}

              /* tag */
.image-tag-box {
  position: absolute;
  bottom: 15px;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 40px;
  background-image: url(/images/tag-box.svg);
  background-repeat: no-repeat;
}

.image-tag {
  margin-right: 20px;
}

                /* nav */
.nav .list-label {
  position: absolute;
  bottom: -105px;
  z-index: 9;
  cursor: pointer;
}

.prev {
  left: -5px;
}

.next {
  left: 70px;
}

.nav-icon_prev {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  padding: 17px 19px;
  background-color: var(--var-arrow-background);
}

.nav-icon_prev path {
  stroke: var(--var-body-font-color);
}

.nav-icon_next {
  transform: rotate(180deg);
}

                /* состояния */
.nav-icon_prev:hover {
  opacity: 60%;
}

.list-input:checked + .slide {
  transform: scaleX(1);
}

.list-input:checked + .nav .list-label { 
  display: block; 
}




                /* BIKES */
.bikes {
  min-height: 725px;
  padding: 0 120px;
}

                /* radio-box */
.radio-box {
  margin-top: -34px;
}

.radio-box > .radio-input {
  display: none;
}

.radio-box > .radio-label {
  float: right;
  opacity: 70%;
  line-height: 28px;
  line-height: 28px;
}

.radio-box > .radio-label:not(:first-of-type) {
  margin-right: 40px;
}

                /* div */
.tabs {
  clear: both;
}

.tabs > .product-list {
  position: absolute;
  max-width: 1200px;
  opacity: 0;
  transition: opacity .3s;
}

                /* ul */
.product-list {
  display: flex;
  gap: 30px;
  width: 100%;
  margin-top: 123px;
}

.product-link {
  display: block;
  color: currentColor;
  text-decoration: none;
}

.product-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 380px;
  height: 380px;
  margin-bottom: 22px;
  border-radius: 20px;
  box-shadow: 0 20px 140px  rgba(0, 0, 0, 0.06);
  background-color: #f4f4f4;
}

.product-image {
  display: block;
  width: 340px;
  height: 340px;
}

.product-name {
  margin-left: 8px;
  font-weight: 600;
  line-height: 22px;
}

                /* состояния */
.radio-box > .radio-label:hover {
  cursor: pointer;
}

.radio-box > .radio-input:checked + .radio-label {
  opacity: 1;
  font-weight: 600;
  cursor: pointer;
}

#tab-nav-1:checked ~ .tabs > .product-list:nth-of-type(1),
#tab-nav-2:checked ~ .tabs > .product-list:nth-of-type(2),
#tab-nav-3:checked ~ .tabs > .product-list:nth-of-type(3) {
opacity: 1;
}




                /* TRAININGS */
.trainings {
  display: flex;
  justify-content: space-between;
  padding: 90px 120px 120px;
}

                /* content */
.trainings__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 44px;
  max-width: 410px;
}

.trainings_text {
  min-width: 450px;
  margin-top: -140px;
}

                /* links */
.trainings__links-box {
  display: flex;
  justify-self: end;
  gap: 30px;
  padding-bottom: 2px;
}

.trainings__link {
  color: currentColor;
  font-weight: 600;
  line-height: 28px;
  text-decoration: none;
}

                /* image */
.trainings__image-box {
  width: 580px;
  height: 460px;
}

                /* состояния */
.trainings__link:hover {
  opacity: 75%;
}




                /* FOOTER */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 80px 120px 60px;
  background-color: var(--var-footer-background);
}

                /* form */
.form__title {
  max-width: 230px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.form__textfield-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 360px;
  height: 50px;
  margin-top: 50px;
  border: 1px solid rgba(199, 199, 199, 0.5);
  border-radius: 4px;
  padding: 11px 20px;
}

.form__textfield {
  width: 100%;
  margin-left: -3px;
  border: none;
  opacity: 70%;
  color: var(--var-body-font-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 13px;
  line-height: 28px;
  background-color: transparent;
  caret-color: var(--var-body-font-color);
}

.form__button {
  display: none;
}

                /* состояния */
.form__textfield-box:hover {
  cursor: pointer;
}

.form__textfield:hover {
  opacity: 100%;
  color: var(--var-body-font-color);
  cursor: pointer;
}

.form__textfield:active::placeholder {
  opacity: 0;
  color: var(--var-body-font-color);
}

.form__textfield:focus::placeholder {
  opacity: 0;
  color: var(--var-body-font-color);
}

.form__textfield:focus {
  outline: none;
}

.form__textfield:focus + .form__button {
  display: inline-block;
  border: none;
  color: var(--var-body-font-color);
  font-weight: 500;
  font-size: 13px;
  line-height: 28px;
  background-color: var(--var-footer-background);
  cursor: pointer;
}

.form__textfield:focus + .form__button::after {
  content: "";
  position: absolute;
  top: 30px;
  left: 0;
  width: 360px;
  height: 50px;
  margin-top: -30px;
  border: 1px solid #C7C7C7;
  border-radius: 4px;
}

                  /* button */
.form__button:active {
  display: inline-block;
  border: none;
  color: var(--var-body-font-color);
  background-color: var(--var-footer-background);
}

.form__button:focus {
  display: inline-block;
  border: none;
  color: var(--var-body-font-color);
  background-color: var(--var-footer-background);
}

.form__button:focus-visible {
  display: inline-block;
  border: none;
  color: var(--var-body-font-color);
  background-color: var(--var-footer-background);
}

                /* bottom-box */
.footer__bottom-box {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.copyright {
  color: #CFCFCF;
  font-weight: 600;
  font-size: 14px;
  line-height: 19.5px;
}

                /* theme */
.theme-switcher-box {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: -22px;
  margin-right: 2px;
}

.theme-switcher__label {
  display: inline-block;
}

.theme-switcher__input{
  opacity: 0;
  appearance: none;
}

.theme-switcher__span {
  position: absolute;
  top: 9px;
  left: 50px;
  display: inline-block;
}

                /* icons */
.theme-switcher-icon_light {
  margin-right: 59px;
}

.theme-switcher-icon_light path {
  fill: var(--var-footer-icon-color);
}

.theme-switcher-icon_dark {
  margin-left: 22px;
}

.theme-switcher-icon_dark path {
  fill: var(--var-footer-icon-color);
}

                /* состояния */
.theme-switcher__span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0px;
  display: block;
  width: 44px;
  height: 24px;
  border-radius: 100px;
  background-color: var(--var-theme-switcher-background);
}

.theme-switcher__span::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #24B47E;
  transition: left .5s;
}

.theme-switcher__input:checked + .theme-switcher__span::after {
  left: 22px;
}