                /* общие стили */
.section__title {
  padding-top: 3px;
  font-weight: 700;
  font-size: 55px;
  line-height: 60px;
  letter-spacing: -0.5px;
}

.section__text {
  opacity: 70%;
  line-height: 28px;
}




/* HEADER */
.header {
  display: flex;
  justify-content: flex-end;
  padding: 29px 120px 49px;
}

.header__list {
  display: flex;
  gap: 36px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1rem;
  list-style-type: none;
}

.header__list-link {
  color: currentColor;
  text-decoration: none;
}

                /* состояния */
.header__list-link:hover {
  opacity: 75%;
}




                /* HERO */
.hero {
  display: flex;
  justify-content: space-between;
}

                /* content */
.hero__content {
  display: flex;
  flex-direction: column;
  gap: 44px;
  max-width: 410px;
  margin: 60px 30px 0 120px;
}

.more-detailed-button {
  display: flex;
  justify-content: center;
  width: 180px;
  margin-top: 10px;
  border-radius: 4px;
  padding: 16px 10px;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  line-height: 1rem;
  letter-spacing: 1px;
  text-decoration: none;
  background-color: #24B47E;
}

.product-link_hero {
  margin-top: 124px;
  color: currentColor;
  text-decoration: none;
}

                /* image-box */
.hero__image-box {
  width: 610px;
  height: 836px;
}

.image-box-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

                /* состояния */
.more-detailed-button:hover {
  background-color: #319E75;
}




                /* BLOCKQUOTE-SECTION */
.blockquote-section {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 80px;
  padding: 120px 120px;
}

                  /* content */
.blockquote-section__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.blockquote-section__quote {
  font-weight: 600;
  font-size: 34px;
  line-height: 44px;
  letter-spacing: -0.5px;
}

.blockquote-section__quote-author {
  margin-bottom: 7px;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  text-transform: capitalize;
}

.blockquote-section__author-profession {
  margin-bottom: 4px;
  opacity: 70%;
  font-size: 16px;
  line-height: 28px;
}

                /* image-box */
.blackquote-section__image-box {
  min-width: 650px;
  height: 460px;
}




                /* COVERINGS */
.coverings {
  min-height: 922px;
  padding-left: 120px;
}

                /* ul */
.slides-list {
  position: relative;
}

.slides-list .list-input {
  display: none;
}

                /* slide */
.slide {
  position: absolute;
  top: 0;
  display: block;
  transform: scale(0);
}

.slide__content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  max-width: 450px;
}

.slider_text {
  margin-top: -6px;
}

              /* image */
.slide__image-box {
  position: relative;
  display: flex;
  gap: 40px;
  margin-top: 83px;
}

.slide__image {
  width: 650px;
  height: 400px;
}

              /* tag */
.image-tag-box {
  position: absolute;
  bottom: 15px;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 40px;
  background-image: url(/images/tag-box.svg);
  background-repeat: no-repeat;
}

.image-tag {
  margin-right: 20px;
}

                /* nav */
.nav .list-label {
  position: absolute;
  bottom: -105px;
  z-index: 9;
  display: none;
  cursor: pointer;
}

.prev {
  left: -5px;
}

.next {
  left: 70px;
}

.nav-icon_prev {
  border: none;
  border-radius: 50%;
  padding: 17px 23px;
  background-color: #EBEBEB;
}

.nav-icon_next {
  transform: rotate(180deg);
}

                /* состояния */
.list-input:checked + .slide-container .slide {
  transform: scale(1);
}

.list-input:checked + .slide-container .nav .list-label { 
  display: block; 
}




                /* BIKES */
.bikes {
  min-height: 725px;
  padding: 0 120px;
}

                /* radio-box */
.radio-box {
  margin-top: -34px;
}

.radio-box > .radio-input {
  display: none;
}

.radio-box > .radio-label {
  float: right;
  opacity: 70%;
  line-height: 28px;
  line-height: 28px;
}

.radio-box > .radio-label:not(:first-of-type) {
  margin-right: 40px;
}

                /* div */
.tabs {
  clear: both;
}

.tabs > .product-list {
  position: absolute;
  max-width: 1200px;
  opacity: 0;
  transition: opacity .3s;
}

                /* ul */
.product-list {
  display: flex;
  gap: 30px;
  width: 100%;
  margin-top: 123px;
}

.product-link {
  display: block;
  color: currentColor;
  text-decoration: none;
}

.product-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 380px;
  height: 380px;
  margin-bottom: 22px;
  border-radius: 20px;
  background-color: white;
}

.product-image {
  display: block;
  width: 340px;
  height: 340px;
  mix-blend-mode: hard-light;
}

.product-name {
  margin-left: 8px;
  font-weight: 600;
  line-height: 22px;
}

                /* состояния */
.radio-box > .radio-label:hover {
  cursor: pointer;
}

.radio-box > .radio-input:checked + .radio-label {
  opacity: 1;
  color: #151515;
  font-weight: 600;
  cursor: pointer;
}

#tab-nav-1:checked ~ .tabs > .product-list:nth-of-type(1),
#tab-nav-2:checked ~ .tabs > .product-list:nth-of-type(2),
#tab-nav-3:checked ~ .tabs > .product-list:nth-of-type(3) {
opacity: 1;
}




                /* TRAININGS */
.trainings {
  display: flex;
  justify-content: space-between;
  padding: 90px 120px 120px;
}
                /* content */
.trainings__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 44px;
  max-width: 410px;
}

.trainings_text {
  min-width: 450px;
  margin-top: -140px;
}

                /* links */
.trainings__links-box {
  display: flex;
  justify-self: end;
  gap: 30px;
  padding-bottom: 2px;
}

.trainings__link {
  color: currentColor;
  font-weight: 600;
  line-height: 28px;
  text-decoration: none;
}

                /* image */
.trainings__image-box {
  width: 580px;
  height: 460px;
}

                /* состояния */
.trainings__link:hover {
  opacity: 75%;
}




                /* FOOTER */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 80px 120px 60px;
  background-color: #EFEFEF;
}

                /* form */
.footer__form {

}

.form__title {
  max-width: 230px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.form__textfield {
  margin-top: 50px;
  margin-bottom: 100px;
}

                /* bottom */
.footer__bottom-box {
  display: flex;
  justify-content: space-between;
}

.copyright {
  color: #CFCFCF;
  font-weight: 600;
  font-size: 14px;
  line-height: 19.5px;
}

                /* theme */
.theme-switcher-box {
  display: flex;
  align-items: center;
}

                /* input */
.footer__theme-switcher {

}

                /* label */
.footer__theme-switcher-label {

}

                /* icons */
.theme-switcher-icon_light {

}

.theme-switcher-icon_dark {

}